* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vw;
}

.menu-desk {
    display: flex;
    gap: 40px;

}

.menu-desk a:hover {
    color: #ff3946;
}

.menu-desk a {
    text-decoration: none;
    color: #3165b4;
    font-weight: bold;
    font-size: 15px;

}

.button-us button {
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 150px;
    color: #ff3946;
    font-weight: bold;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 10px;
}

.spirit-img {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.spirit,
.digital {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    width: 30vw;


}

.digital h1 {
    color: #3165b4;
    font-size: 50px;
}

.digital p {
    color: gray;
}

.button-m-t {
    display: flex;
    gap: 3vw;
}

.more button {
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 150px;
    background: #ff3946;
    color: white;
    font-weight: bold;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.touch button {
    border: 1px solid white;
    height: 40px;
    width: 150px;
    background: none;
    color: #3165b4;
    font-weight: bold;
}

#menu-desk,
.menu-mobile,
.close {
    display: none;
}

/* AHMED's part */
.sarticle {
    display: flex;
    padding: 100px;
    gap: 35px;
}


/* 
    first section 
*/
.sarticle .head {
    width: 250px;
    line-height: 1.3;
}

.sarticle .head h2 {
    font-size: 34px;
    padding-bottom: 20px;
}

.sarticle .head button {
    border: none;
    background: #ff3946;
    color: white;
    font-weight: bold;
    font-size: 10px;
    padding: 15px 30px 15px 30px;
    border-radius: 20px;
}


/* 
    second section
*/
.sarticle .body {
    display: flex;
    justify-content: center;
    gap: 45px;
}

.sarticle .body div {
    width: 260px;
    padding: 35px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 12px 0px;
}

.sarticle .body div img {
    width: 50px;
    padding-bottom: 20px;
}

.sarticle .body h3 {
    font-size: 24px;
    padding-bottom: 10px;
}

/* tharticle */
.tharticle {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.tharticle section h3 {
    color: #ff3946;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 13px;
}

.tharticle section p {
    color: #2C4181;
    font-size: 30px;
    font-weight: bold;
}

.tharticle form {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.tharticle form div {
    display: flex;
    gap: 25px;
}

input,
textarea {
    border: none;
    background-color: rgb(205, 229, 245);
    color: #5A497A;
    font-size: 10px;
    padding: 15px 425px 15px 10px;
}

textarea {
    border: none;
    background-color: rgb(205, 229, 245);
    color: #5A497A;
    font-size: 10px;
}

.tharticle button {
    border: none;
    background: #ff3946;
    color: white;
    font-weight: bold;
    padding: 15px 0px 15px 0px;
    border-radius: 20px;
    width: 150px;
    margin-left: 500px;
}

@media (max-width:767px) {
    nav {
        justify-content: space-evenly;
        position: relative;
        margin: unset;
    }

    .logo-doob {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5vw;
    }

    .logo-doob img {
        margin-right: 10px;
    }

    .menu-desk a {
        font-size: larger;
    }

    .menu-desk {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #fa999f;
        transition: 1s ease;
    }

    .menu-desk div {
        display: flex;
        justify-content: space-between;
        width: 100%;

    }

    .menu-mobile {
        display: block;
    }

    .close {
        position: absolute;
        top: 10px;
        left: 10px;
        display: block;
        font-size: 30px;
    }

    #menu-desk:checked+.menu-desk {
        left: 0;
    }

    .spirit-img {
        flex-direction: column;
    }

    .spirit {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .digital {
        width: 70%;
        text-align: center;
    }

    .button-m-t {
        flex-direction: column;
    }

    .img1 img {
        width: 400px;
    }
}